<%= render 'topsidebar/navsidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div id="table-cursos">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center><h3>Periodos</h3></center>
      </div>
      <div class="table-responsive">
        <table class="table table-striped txtCenter">
          <thead>
            <tr>
              <th class="txtCenter">Descripcion</th>
              <th class="txtCenter">Inicio periodo</th>
              <th class="txtCenter">Fin periodo</th>
              <th class="txtCenter">Inicio de inscripcion normal</th>
              <th class="txtCenter">Fin de inscripcion normal</th>
              <th class="txtCenter">Fecha de fin de registro</th>
    
            </tr>
          </thead>
          <tbody>
            <% @periodos.each do |periodo| %>
              <tr class='pickHover reporte_row' data-link=''>
                 <td><%= periodo.descripcion %></td>
                <td><%= periodo.inicio_periodo %></td>
                <td><%= periodo.fin_periodo %></td>
                <td><%= periodo.inicio_de_inscripcion_normal %></td>
                <td><%= periodo.fin_de_inscripcion_normal %></td>
             
                <td><%= periodo.fecha_de_fin_de_registro %></td>
               
               
           
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%= link_to "Nuevo Periodo", new_periodo_path, class: 'btn btn-primary btn-lg', :id => "btnSubmit"%>
            </div>
      </div>
    </div>
  </div>
</div>



