<%= render 'topsidebar/navsidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header titulo">Visualización de Periodo</h1>
  <div id="table-cursos">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>Periodo</center>
      </div>
      <div>
        <div class="panel-body">
          <%= form_for(@periodo) do |f| %>
            <div id="centerDiv">
              <div class="col-sm-5 margin-bottom margin-top">
                <div class="field">
                  <%= f.label :inicio_periodo, class:"labPad" %>
                  <%= f.text_field :inicio_periodo, value: f.object.inicio_periodo.strftime(ApplicationController::FORMATO_FECHA), :readonly => true%>
                </div>
                
                <div class="field">
                  <%= f.label :fin_periodo, class:"labPad" %>
                  <%= f.text_field :fin_periodo, value: f.object.fin_periodo.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>
                
                <div class="field">
                  <%= f.label "Inicio de inscripción normal", class:"labPad" %>
                  <%= f.text_field :inicio_de_inscripcion_normal, value: f.object.inicio_de_inscripcion_normal.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label "Fin de inscripción normal", class:"labPad" %>
                  <%= f.text_field :fin_de_inscripcion_normal, value: f.object.fin_de_inscripcion_normal.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label "Inicio de inscripción tardía", class:"labPad" %>
                  <%= f.text_field :inicio_de_inscripcion_tardia, value: f.object.inicio_de_inscripcion_tardia.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label  "Fin de inscripción tardía", class:"labPad" %>
                  <%= f.text_field :fin_de_inscripcion_tardia, value: f.object.fin_de_inscripcion_tardia.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>
                
                <div class="field">
                  <%= f.label :fecha_de_fin_de_registro, class:"labPad" %>
                  <%= f.text_field :fecha_de_fin_de_registro, value: f.object.fecha_de_fin_de_registro.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>
                
                <div class="field">
                  <%= f.label :activo, class:"labPad" %>
                  <%= f.check_box :activo, id:"checkboxActivo", :disabled => true%>
                </div>
              </div>
              
              <div class="col-sm-5 margin-bottom margin-top">
                <div class="field">
                  <%= f.label :fecha_inicial_primer_parcial, class:"labPad" %>
                  <%= f.text_field :fecha_inicial_primer_parcial, value: f.object.fecha_inicial_primer_parcial.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>
                
                <div class="field">
                  <%= f.label :fecha_final_primer_parcial, class:"labPad" %>
                  <%= f.text_field :fecha_final_primer_parcial, value: f.object.fecha_final_primer_parcial.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label :fecha_inicial_segundo_parcial, class:"labPad" %>
                  <%= f.text_field :fecha_inicial_segundo_parcial, value: f.object.fecha_inicial_segundo_parcial.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label :fecha_final_segundo_parcial, class:"labPad" %>
                  <%= f.text_field :fecha_final_segundo_parcial, value: f.object.fecha_final_segundo_parcial.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label :fecha_inicial_tercer_parcial, class:"labPad" %>
                  <%= f.text_field :fecha_inicial_tercer_parcial, value: f.object.fecha_inicial_tercer_parcial.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label :fecha_final_tercer_parcial, class:"labPad" %>
                  <%= f.text_field :fecha_final_tercer_parcial, value: f.object.fecha_final_tercer_parcial.strftime(ApplicationController::FORMATO_FECHA), :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label "Descripción", class:"labPad" %>
                  <%= f.text_field :descripcion, :readonly => true %>
                </div>

                <div class="field">
                  <%= f.label "Clasificación", class:"labPad" %>
                  <%= f.text_field :clasificacion, :readonly => true %>
                </div>
              </div>
            </div>
            
            <div id="row" >
              <div class="col-sm-6">
                <%= link_to 'Atrás', periodos_path, class:"btn btn-info btn-lg btnEditBack1 " %>
              </div>
              
              <div class="col-sm-6">
                <%= link_to 'Editar', edit_periodo_path(@periodo),class:"btn btn-success btn-lg btnEditBack1 " %> 
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>