<%= form_for(conglomerado_semanal) do |f| %>
  <% if conglomerado_semanal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conglomerado_semanal.errors.count, "error") %> prohibited this conglomerado_semanal from being saved:</h2>
      <ul>
        <% conglomerado_semanal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="alert alert-danger alert-dismissable">
    <a class="close alert_close" aria-label="close">&times;</a>
    <div id="alert_text"></div>
  </div>
    <h1 class="page-header">Generar conglomerado de reportes semanales</h1>
  

    
        <div id="table-cursos" class="" style="margin-top: 20px;">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <center>Evaluación del Tutor</center>
            </div>
            <div class="panel-body">
                <% if action_name != 'edit'%>
                    <div class="col-sm-6 margin-bottom margin-top">
                        <div class="select-label" style="padding-left: 5px;">
                            <h4>Tutor:</h4>
                        </div>
                        <div class="select-input">
                            <%= f.select :tutor, options_for_select(get_tutores_for_select), {prompt: "Selecciona un tutor"}, class:"selectpicker", required: true%>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 margin-bottom margin-top">
                        <div class="select-label" style="padding-left: 5px;">
                            <h4>Curso:</h4>
                        </div>
                        <div class="select-input">
                            <%= f.select :curso, {}, {prompt: "Selecciona un curso"}, class:"selectpicker", required: true%>
                        </div>
                    </div>
                <%end%>
                
              <h4>¿El tutor invitó a sus alumnos a sus asesorías presenciales?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :invitacion_asesorias, 0, required: true%></td>
                              <td><%= f.radio_button :invitacion_asesorias, 1, required: true%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿El tutor realizó los reportes parciales de desempeño de alumnos, reflejando seguimiento a los mismos?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :reporte_parcial, 0, required: true%></td>
                              <td><%= f.radio_button :reporte_parcial, 1, required: true%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿El tutor realizó el reporte final de alumno?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :reporte_final, 0, required: true%></td>
                              <td><%= f.radio_button :reporte_final, 1, required: true%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿Envió actividad de cierre?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :actividad_cierre, 0, required: true%></td>
                              <td><%= f.radio_button :actividad_cierre, 1, required: true%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿Lo recomiendo para reingresar?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :recomendacion_reingreso, 0, required: true%></td>
                              <td><%= f.radio_button :recomendacion_reingreso, 1, required: true%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿Lo recomendaría como coordinador de tutores?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :recomendacion_coordinador, 0, required: true%></td>
                              <td><%= f.radio_button :recomendacion_coordinador, 1, required: true%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Porcentaje de alumnos del grupo original que acabaron el curso</h4>
                    <%= f.number_field :alumnos_original_acabaron, min: 0, max: 100, required: true%>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Porcentaje de alumnos del grupo original que aprobaron el curso</h4>
                    <%= f.number_field :alumnos_original_aprobaron, min: 0, max: 100, required: true%>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Porcentaje de alumnos del grupo final (sin considerar bajas) que concluyeron el curso</h4>
                    <%= f.number_field :alumnos_final_concluyeron, min: 0, max: 100, required: true%>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Cantidad de horas que el coordinador de tutores considera el tutor debe acreditar</h4>
                    <%= f.number_field :total_horas_sugerido, min: 0, max: 90, required: true%>
                </div>
                
              <h4>Resumen de observaciones sobre el desempeño del tutor y el seguimiento a sus alumnos</h4>
              <div class="field">
                <%= f.text_area :comentarios, class:"form-control", id:"txtArea"%>
              </div>
              <i>*Justificación de la cantidad de horas que el coordinador considera que el tutor debe acreditar. Cualquier comentario que ayude a entender lo que el tutor aportó a su grupo y si realizó esfuerzos adicionales que merezcan ser considerados.

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="actions">
                    <%= f.submit "Guardar reporte", class: "btn btn-primary btn-lg", id: "btnSubmit"  %>
                    <%= link_to 'Atrás', conglomerado_semanals_path, class:"btn btn-primary btn-lg btnBack"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
    
  </div>
<% end %>