<%= render 'mainlayout/navsidebar' %>


<div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"> Reporte Quincenal de Actividad y Desempeño del Alumno</h1>
          <div class="row">
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row">
            <div id="table-cursos" class="" style="margin-top: 20px;">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <center>Reportes de Alumnos</center>
                </div>
                <div class="panel-body">
                <!-- Pregunta 1-->
                  
                  <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                      <thead>
                        <tr>
                          <th style="text-align: center;">Nombre</th>
                          <th style="text-align: center;">Descripcion</th>
                          <th style="text-align: center;">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @reportes.each do |reporte| %>
                          <tr>
                            <td><%= reporte.titulo %></td>
                            <td><%= reporte.descripcion %></td>
                            <td><%= link_to 'Show', reporte %> <%= link_to 'Edit', edit_reporte_path(reporte) %> <%= link_to 'Destroy', reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %> 
                      </tbody>
                    </table>
                  </div>
       
                  <div class="row"> 
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <%= link_to "Crear Reporte", new_reporte_path, class: 'btn btn-primary btn-lg', :id => "bntCrearReporte"%>
                     
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>



