<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @reporte.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @reporte.descripcion %>
</p>

<%= link_to 'Edit', edit_reporte_path(@reporte) %> |
<%= link_to 'Back', reportes_path %>
