<%= render 'topsidebar/navsidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div id="table-cursos">
    <div class="panel panel-primary">

    <div class="panel-heading">
      <center><h1>Agregar Cursos</h1></center>
    </div>

      <div class="row" id="">
        <div class="col-md-12"> 
          <div class="col-sm-6" id="multipleUser" style="margin-right:">
            <h2>Importar alumnos a cursos</h2>
            <%= form_tag import_alumno_toma_cursos_path, multipart: true do %>
              <%= file_field_tag :file, class: "inline"  %>
              <%= submit_tag "Importar", class: "btn btn-primary padd inline" %>
            <% end %>
          </div>
          <div class="col-sm-6" id="multipleUser">
            <h2>Importar cursos</h2>
            <%= form_tag import_cursos_path, multipart: true do %>
              <%= file_field_tag :file, class: "inline"  %>
              <%= submit_tag "Importar", class: "btn btn-primary padd inline" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>