<%= render 'topsidebar/navsidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <ul class="nav nav-pills nav-justified">
    <% get_cursos_by_tutor().each do |curso| %>
        <li class="materia_tab"><a data-toggle="tab" href="#<%= curso.curso.parameterize %>"><%= curso.materia %></a></li>
    <%end%>
  </ul>
  
  <div class="empty_desemp">
    Elige una materia de arriba para ver tus reportes semanales
  </div>
  
  <div class="tab-content">
    <% get_cursos_by_tutor().each do |curso| %>
      <div id="<%= curso.curso.parameterize %>" class="tab-pane fade">
        <div class="empty_semana">
          Elige una semana para ver el reporte expandido
        </div>
        
        <div class='reporte_carousel_content'>
          <% get_reporte_semanals_by_tutor_and_curso(ApplicationController::CUENTA, curso.curso).each do |reporte_semanal|%>
            <div id='reporte_<%=reporte_semanal.id%>' class='reporte_semanal_carousel'>
              <%= render 'show_reporte_semanal', reporte_semanal: reporte_semanal %>
            </div>
          <%end%>
        </div>
        <div class="carousel_nav">
          <% (1..15).each do |i| %>
            <%=get_botones_reportes_semanales_carousel(i)%>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
  
</div>