<%= render 'topsidebar/navsidebar' %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <ul class="nav nav-pills nav-justified">
    <% get_cursos_by_tutor().each do |curso| %>
        <li class="materia_tab"><a data-toggle="tab" href="#<%= curso.grupo.parameterize %>"><div><%= curso.materia %></div><div><%= curso.grupo %></div></a></li>
    <%end%>
  </ul>
  
  <div class="empty_desemp">
    Elige un curso para ver tus reportes semanales
  </div>
  
  <div class="tab-content">
    <% get_cursos_by_tutor().each do |curso| %>
      <div id="<%= curso.grupo.parameterize %>" class="tab-pane fade">
        <%read_reporte_semanals_by_tutor_and_curso(ApplicationController::CUENTA, curso.grupo)%>
        <div class="carousel_nav">
          <% (1..15).each do |i| %>
            <%=get_botones_reportes_semanales_carousel(i)%>
          <% end %>
          <%=get_conglomerado_semanals_button_by_tutor_and_curso(ApplicationController::CUENTA, curso.grupo)%>
        </div>
        <div class='reporte_carousel_content'>
          <% get_reporte_semanals_by_tutor_and_curso().each do |reporte_semanal|%>
            <div id='reporte_<%=reporte_semanal.id%>' class='reporte_semanal_carousel'>
              <%= render 'show_reporte_semanal', reporte_semanal: reporte_semanal %>
            </div>
          <%end%>
          <% if get_conglomerado_semanals() != nil%>
            <div id='reporte_cong_<%=get_conglomerado_semanals().id%>' class='reporte_semanal_carousel'>
              <%= render 'conglomerado_semanals/show_conglomerado_reporte', conglomerado_semanal: get_conglomerado_semanals() %>
            </div>
          <%end%>
        </div>
        <div class="empty_semana">Elige una semana para ver su reporte correspondiente<br>Puedes pasar el mouse para ver cada calificación o el promedio actual</div>
      </div>
    <%end%>
  </div>
</div>