<%= render 'topsidebar/navsidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div id="table-cursos">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <center>Reporte Semanal del Desempeño del Tutor</center>
    </div>
    <div class="panel-body">
      <div class="">
        <div class="row">
          <div style="padding-bottom: .5%;" class="col-sm-7">
            <h4 style="float: left; padding-right: 2%;">Tutor:</h4>
            <h4 style="font-weight: normal"><%=get_usuario_name_by_id(@reporte_semanal.tutor)%>
            </h4>
            
          </div>

          <div style="padding-left: 3.2%;" class="col-sm-4">
          
            <h4 style="float: left; padding-right: 2%;">Fecha del reporte:</h4>
            <h4 style="font-weight: normal">
              <%= @reporte_semanal.created_at.to_date %>
            </h4>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-7">
            <div class="table-responsive">
              <table class ="table table-striped">
                <thead>
                  <th>Criterio</th>
                  <th>Calificación</th>
                </thead>
                <tr>
                  <td> Calificar en un plazo no mayor a 48 horas actividades y/o exámenes</td>
                  <td> <%= @reporte_semanal.califPlazo %>/3</td>
                </tr>
                <tr>
                  <td> Calificar con base en rúbrica y la envía o especifica el desglose de puntos:</td>
                  <td> <%= @reporte_semanal.califRubrica %>/1</td>
                </tr>
                <tr>
                  <td> Da retroalimentación clara y específica de actividades y/o exámenes:</td>
                  <td><%= @reporte_semanal.retro %>/2</td>
                </tr>
                <tr>
                  <td> Responde mensajes en un lapso no mayor a 24 horas:</td>
                  <td>  <%= @reporte_semanal.responde %>/3</td>
                </tr>
                <tr>
                  <td>Errores de ortografía en mensajes, reportes y retroalimentaciones:</td>
                  <td><%= @reporte_semanal.errores %>/1</td>
                </tr>
                <tr>
                  <td><strong>Total:</strong></td>
                  <strong><td><%=@reporte_semanal.total%>/10</td></strong>
                </tr>

              </table>
            </div>
          </div>

          <div class="row col-sm-3">
            <h4 style="margin-left: 15%">Comentarios:</h4>
            <textarea readonly rows="10" cols="50" style="resize: none; margin-left: 15%">
              <%= @reporte_semanal.comentarios %>  
            </textarea>
          </div>
        </div>
        <div class="row ">
        
          <div class="col-sm-2">
            <%= link_to 'Atras', reporte_semanals_path, class:"btn btn-lg btn-primary" ,id:"btnChico" %>      
          </div>
          
          <div class="col-sm-2">
              <%= link_to 'Eliminar', @reporte_semanal, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-lg btn-danger",id:"btnChico" %>
          </div>
          
          <div class="col-sm-2">
            <%= link_to 'Editar', edit_reporte_semanal_path(@reporte_semanal), class:"btn btn-lg btn-warning" ,id:"btnChico" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= link_to 'Edit', edit_reporte_semanal_path(@reporte_semanal) %> |
<%= link_to 'Back', reporte_semanals_path %>
