<%=verify_show_access(@reporte_semanal)%>
<%= render 'topsidebar/navsidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="table-cursos">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <center>Reporte Semanal del Desempeño del Tutor</center>
            </div>
            
            <div class="panel-body">
                <div>
                    <div class="" id="printID">
                        <%= render 'show_reporte_semanal', reporte_semanal: @reporte_semanal %>
                    </div>
                    <div class="row" id="noPrint">
                        <div class="col-sm-2">
                            <%= link_to 'Atrás', reporte_semanals_path, class:"btn btn-lg btn-primary", id:"btnChico" %>
                        </div>
                        
                        <% if ApplicationController::ROL != ApplicationController::STR_ROL_TUTOR%>
                            <div class="col-sm-2">
                                <%= link_to 'Editar', edit_reporte_semanal_path(@reporte_semanal), class:"btn btn-lg btn-warning", id:"btnChico" %>
                            </div>
                            
                            <div class="col-sm-2">
                                <%= link_to 'Eliminar', @reporte_semanal, method: :delete, data: {confirm: '¿Estás seguro que quieres borrar este reporte? iNo se podrá recuperar!' }, class:"btn btn-lg btn-danger", id:"btnChico" %>
                            </div>
                        <%end%>
                        <div class="col-sm-2">
                            <%= link_to 'Imprimir', @reporte_semanal, :onclick => 'window.print();', class:"btn btn-lg btn-info",id:"btnChico"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>