<%user_coordinador_informatica()%>
<%= render 'topsidebar/navsidebar' %>

<div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <%if (@periodo_activo == -1)%>
    <div class="alert alert-danger" style="display: block">
      <strong>Alerta. </strong> No hay ningún periodo activo, por lo que no podrás agregar usuarios.
    </div>
  <%end%>
  <div class="alert alert-danger alert-dismissable" id="cuenta_ocupada">
    <a class="close alert_close" aria-label="close">&times;</a>
      <strong>Alerta. </strong> Esta cuenta ya existe.
  </div>
  <h1 class="page-header titulo">Generar usuario</h1>
  
  <div id="table-cursos" class="" style="margin-top: 20px;">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <center>Usuario</center>
      </div>

      <%= form_for(@usuario) do |f| %>
        <% if @usuario.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% @usuario.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-sm-1">
        </div>
        
        <div class="col-sm-5 margin-bottom margin-top">
          <div class="field">
            <%= f.label :nombres %>
            <%= f.text_field :nombres, class:"form-control", required: true%>
          </div>

          <div class="field">
            <%= f.label :apellido_paterno %>
            <%= f.text_field :apellido_p, class:"form-control", required: true%>
          </div>

          <div class="field">
            <%= f.label :apellido_Materno %>
            <%= f.text_field :apellido_m, class:"form-control", required: true%>
          </div>

          <div class="field">
            <%= f.label "Correo electrónico" %>
            <%= f.text_field :correo, class:"form-control", required: true%>
          </div>

          <div class="field">
            <%= f.label "Teléfono" %>
            <%= f.text_field :telefono, class:"form-control", required: true%>
          </div>
        </div>
        
        <div class="col-sm-5 margin-bottom margin-top">
          <div class="field">
            <%= f.label :cuenta %>
            <%= f.text_field :cuenta, class:"form-control", required: true%>
          </div>
          
          <div class="field">
            <%= f.label "Nómina/Matrícula" %>
            <%= f.text_field :nomina_matricula, class:"form-control", required: true%>
          </div>
          
          <div class="field">
            <%= f.label "Contraseña" %>
            <%= f.text_field :contrasena, class:"form-control", required: true%>
          </div>
          
          <div class="field">
            <%= f.label :campus %>
            <%= f.text_field :campus, class:"form-control", required: true%>
          </div>
          
          <div class="field">
            <%= f.label :rol %>
            <br>
            <%= f.select(:rol, options_for_select([[ApplicationController::STR_ROL_TUTOR], [ApplicationController::STR_ROL_COORDINADOR_TUTOR], [ApplicationController::STR_ROL_COORDINADOR_CAMPUS], [ApplicationController::STR_ROL_COORDINADOR_PREPANET], [ApplicationController::STR_ROL_COORDINADOR_INFORMATICA]],f.object.rol),{},{class: "form-control"}) %>
          </div>
        </div>
        <div id="" >
          <%if (@periodo_activo == -1)%>
            <%= f.submit "Guardar usuario", class:"btn btn-primary btn-lg btnSubmit", disabled: true %>
          <%else%>
            <%= f.submit "Guardar usuario", class:"btn btn-primary btn-lg btnSubmit" %>
          <%end%>
            <%= link_to 'Atrás', usuarios_path, class:"btn btn-primary btn-lg btnBack" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
