<%user_coordinador_informatica()%>
<%= render 'topsidebar/navsidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <center><h3>Usuarios</h3></center>
  <div class="col-md-12">
    <div class="form-group col-md-offset-9 col-sm-3 filtro">
      <input type="text" class="form-control small_search_bar" placeholder="Palabras clave" id="search_bar">
    </div>
  </div>

  <div class="table-responsive col-md-12 data_table">
    <table class="table table-striped">
      <thead class="table_head_custom">
        <tr>
            <th style="width:15%">Cuenta</th>
            <th style="width:15%">Nómina/Matricula</th>
            <th style="width:15%">Nombre</th>
            <th style="width:15%">Rol</th>
            <th style="width:15%">Campus</th>
            <th style="width:15%">Correo</th>
          </tr>
      </thead>
        <tbody>
          <% @usuarios.each do |usuario| %>
            <tr class="tarjeta_col pickHover usuario_row" data-link="/usuarios/<%= usuario.id %>">
              <td class='datos_busqueda'><%= usuario.cuenta %></td>
              <td class='datos_busqueda'><%= usuario.nomina_matricula %></td>
              <td class='datos_busqueda'><%= usuario.nombres %> <%= usuario.apellido_p %> <%= usuario.apellido_m %></td>
              <td class='datos_busqueda'><%= usuario.rol %></td>
              <td class='datos_busqueda'><%= usuario.campus %></td>
              <td class='datos_busqueda'><%= usuario.correo %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  
  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='btn btn_circular' id="btnAgregarUsuario">+<div/>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="modal_agregar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Selecciona una opción</h4>
      </div>
      <div class="modal-body">
        <%if (@periodo_activo == -1)%>
          <div class="alert alert-danger" style="display: block">
            <strong>Alerta. </strong> No hay ningún periodo activo, por lo que no podrás agregar usuarios.
          </div>
        <%end%>
        <div id="singleUser">
          <h2>Agregar un solo usuario</h2>
          <%if (@periodo_activo == -1)%>
            <%= link_to 'Llenar datos', usuarios_path, class: "btn btn-primary", disabled: true%>
          <%else%>
            <%= link_to 'Llenar datos', new_usuario_path, class: "btn btn-primary "%>
          <%end%>
        </div>
        <div id="multipleUser">
          <h2>Importar archivo de usuarios</h2>
          <%= link_to 'Descargar plantilla', 'plantilla_usuarios.csv', download: '' %>
          <%= form_tag import_usuarios_path, multipart: true do %>
            <%if (@periodo_activo == -1)%>
              <%= file_field_tag :file, class: "inline", disabled: true%>
              <%= submit_tag "Importar", class: "btn btn-primary padd inline", disabled: true %>
            <%else%>
              <%= file_field_tag :file, class: "inline" %>
              <%= submit_tag "Importar", class: "btn btn-primary padd inline" %>
            <%end%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>