<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Cuenta</th>
      <th>Nomina/Matricula</th>
      <th>Contrasena</th>
      <th>Campus</th>
      <th>Rol</th>
      <th>Titulo</th>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |user| %>
      <tr>
        <td><%= user.cuenta %></td>
        <td><%= user.nomina_matricula %></td>
        <td><%= user.contrasena %></td>
        <td><%= user.campus %></td>
        <td><%= user.rol %></td>
        <td><%= user.titulo %></td>
        <td><%= user.nombres %></td>
        <td><%= user.apellido_p %></td>
        <td><%= user.apellido_m %></td>
        <td><%= user.correo %></td>
        <td><%= user.telefono %></td>
        <td><%= user.estatus %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_usuario_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_usuario_path %>

<br>

<h2>Importar Usuarios</h2>
<%= form_tag import_usuarios_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
