<p id="notice"><%= notice %></p>

<p>
  <strong>Cuenta:</strong>
  <%= @usuario.cuenta %>
</p>

<p>
  <strong>Nomina o matricula:</strong>
  <%= @usuario.nomina_matricula %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @usuario.contrasena %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @usuario.campus %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.rol %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @usuario.nombres %>
</p>

<p>
  <strong>apellido_p:</strong>
  <%= @usuario.apellido_p %>
</p>

<p>
  <strong>apellido_m:</strong>
  <%= @usuario.apellido_m %>
</p>

<p>
  <strong>correo:</strong>
  <%= @usuario.correo %>
</p>

<p>
  <strong>telefono:</strong>
  <%= @usuario.telefono %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @usuario.periodo %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>