<%= form_for(reporte_quincenal) do |f| %>
  <% if reporte_quincenal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporte_quincenal.errors.count, "error") %> prohibited this reporte_quincenal from being saved:</h2>
      <ul>
      <% reporte_quincenal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header titulo"> Reporte Quincenal de Actividad y Desempeño del Alumno</h1>
    <div class="row">

    </div>
    <div class="row">
    <div id="table-cursos" class="" style="margin-top: 20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <center>Evaluación del alumno</center>
            </div>
            <div class="panel-body">
            
            <div class="col-sm-12 margin-bottom">
                <div class="select-label">
                <h4>Alumno a evaluar:</h4>
            </div>
            <div class="select-input">
                <%= f.select :alumno, options_for_select(ReporteQuincenalsController::ALUMNOS), class:"selectpicker"%>
            </div>
        </div>
            
                <h4>1.- Estatus del alumno:</h4>
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Inactivo</th>
                                <th style="text-align: center;">Parcialmente activo</th>
                                <th style="text-align: center;">Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 33.33%"><%= f.radio_button :estatus, 0,required: true%></td>
                                <td style="width: 33.33%"><%= f.radio_button :estatus, 1,required: true%></td>
                                <td style="width: 33.33%"><%= f.radio_button :estatus, 2,required: true%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <h4>2.- Localizado:</h4>
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                        <tr>
                            <th style="text-align: center;">No</th>
                            <th style="text-align: center;">Sí</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= f.radio_button :localizado, 0,required: true%></td>
                                <td><%= f.radio_button :localizado, 1,required: true%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <h4>3.- Comentarios:</h4>
                <%= f.text_area :comentarios, class:"txtArea"%>

                <div class="row"> 
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <%= f.submit "Enviar reporte", class:"btn btn-primary btn-lg btnSubmit"  %>
                        <%= link_to 'Back', reporte_quincenals_path, class:"btn btn-primary btn-lg btnBack"  %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

