<%= render 'topsidebar/navsidebar' %>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel-heading">
      <div class="page-header">
        <h1>Reportes Quincenales</h1>
        <span class="periodo_header">Periodo de consulta:</span><%= select_tag "quincenal_periodo", options_from_collection_for_select(get_periodos(), :id, :descripcion), class: "selectpicker periodo_select"%>
      </div>
      <%= render 'filtros' %>
    </div>

    <div class="table-responsive col-md-12 data_table">
      <table class="table table-striped">
        <thead class="table_head_custom">
          <tr>
            <th>Campus</th>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Materia</th>
            <th>
              <div class="input-group-btn">
                <button class="btn btn-default filter_header" type="button">Estatus</button>
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle filter_header filter_header_dropdown" type="button"><span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu filtro_dropdown" id="filtro_estatus">
                    <li><input type="checkbox" value="-1" checked><span class="filtro_lbl">Sin información</span></li>
                    <li class="divider"></li>
                    <li><input type="checkbox" value="0" checked><span class="filtro_lbl">Inactivo</span></li>
                    <li><input type="checkbox" value="1" checked><span class="filtro_lbl">Parcialmente activo</span></li>
                    <li><input type="checkbox" value="2" checked><span class="filtro_lbl">Activo</span></li>
                </ul>
              </div>
            </th>
            <th>
              <div class="input-group-btn">
                <button class="btn btn-default filter_header" type="button">Localizado</button>
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle filter_header filter_header_dropdown" type="button"><span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu filtro_dropdown" id="filtro_localizado">
                    <li><input type="checkbox" value="-1" checked><span class="filtro_lbl">Sin información</span></li>
                    <li class="divider"></li>
                    <li><input type="checkbox" value="0" checked><span class="filtro_lbl">No</span></li>
                    <li><input type="checkbox" value="1" checked><span class="filtro_lbl">Sí</span></li>
                </ul>
              </div>
            </th>
          </tr>
        </thead>
        <tbody id="periodo_content">
          <%= render 'reportes_periodo_nacional', periodo: get_periodo_activo().id%>
        </tbody>
      </table>
    </div>
    
    <div class="row"> 
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= link_to "+", new_reporte_quincenal_path, class: 'btn btn_circular', :id => "btnSubmitTarjetas"%>
      </div>
    </div>
    
  </div>
</div>