<%= render 'topsidebar/navsidebar' %>
<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Explorar Reportes Quincenales de Actividad y Desempeño del Alumno</h1>
    <div id="table-cursos">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center>Reportes Quincenales Registrados</center>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Alumno</th>
                <th>Número del Alumno</th>
                <th>Tutor</th>
                <th>Coordinador de Tutores</th>
                <th>Fecha del Reporte</th>
                <th>Estatus del Alumno</th>
                <th>Localizado</th>
                <th>Reporte Completo</th>
              </tr>
            </thead>
            <tbody>
              <% @reporte_quincenals.each do |reporte_quincenal| %>
                <tr>
                  <td>Nombre generico</td>
                  <td><%= reporte_quincenal.alumno %></td>
                  <td><%= reporte_quincenal.tutor %></td>
                  <td>Coordinador generico</td>
                  <td><%= reporte_quincenal.fecha %></td>
                  <%= get_estatus_tag(reporte_quincenal.estatus)%>
                  <td><%= reporte_quincenal.localizado %></td>
                  <td><%= link_to 'Ver reporte', reporte_quincenal %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row"> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= link_to "Crear Reporte", new_reporte_quincenal_path, class: 'btn btn-primary btn-lg btnSubmit'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= link_to 'Edit', edit_reporte_quincenal_path(reporte_quincenal) %>
<%#= link_to 'Destroy', reporte_quincenal, method: :delete, data: { confirm: 'Are you sure?' } %>