<%= render 'topsidebar/navsidebar' %>
<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="table-cursos">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center><h3>Reportes Quincenales</h3></center>
        </div>
        <div class="table-responsive">
          <table class="table table-striped txtCenter">
            <thead>
              <tr>
                <th class="txtCenter">Matrícula</th>
                <th class="txtCenter">Nombre</th>
                <th class="txtCenter">Estatus</th>
                <th class="txtCenter">Localizado</th>
                <th class="txtCenter">Fecha</th>
                <th class="txtCenter">Reporte Completo</th>
              </tr>
            </thead>
            <tbody>
              <% @reporte_quincenals.each do |reporte_quincenal| %>
                <tr class="pickHover">
                  <td><%=reporte_quincenal.alumno%></td>
                  <td><%=get_usuario_name_by_id(reporte_quincenal.alumno)%></td>
                  <%= get_estatus_tag(reporte_quincenal.estatus)%>
                  <%= get_localizado_tag(reporte_quincenal.localizado)%>
                  <td><%= reporte_quincenal.fecha.to_date%></td>
                  <td><%= link_to 'Ver', reporte_quincenal %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row"> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= link_to "Crear Reporte", new_reporte_quincenal_path, class: 'btn btn-primary btn-lg btnSubmit'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= link_to 'Edit', edit_reporte_quincenal_path(reporte_quincenal) %>
<%#= link_to 'Destroy', reporte_quincenal, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= reporte_quincenal.fecha.strftime('%m-%d-%Y')%>
