<%= form_for(conglomerado_quincenal) do |f| %>
  <% if conglomerado_quincenal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conglomerado_quincenal.errors.count, "error") %> prohibited this conglomerado_quincenal from being saved:</h2>
      <ul>
        <% conglomerado_quincenal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="alert alert-danger alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Aviso</strong>
    El alumno seleccionado aún no tiene 15 reportes semanales
  </div>
    <h1 class="page-header">Generar Concentrado de Reportes Quincenales</h1>
    <div class="row">

      <div class="row">
        <div id="table-cursos" class="" style="margin-top: 20px;">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <center>Evaluación del Tutor</center>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Tutor</h4>
                    <%= f.select :tutor, options_for_select(ConglomeradoQuincenalsController::TUTORES), class:"selectpicker"%>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Materia</h4>
                    <%= f.select :materia, options_for_select(ConglomeradoQuincenalsController::MATERIAS), class:"selectpicker"%>
                </div>
                
              <h4>¿El tutor invitó a sus alumnos a sus asesorías presenciales?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :invito, 0%></td>
                              <td><%= f.radio_button :invito, 1%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿El tutor realizó los reportes parciales de desempeño de alumnos, reflejando seguimiento a los mismos?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :rparcial, 0%></td>
                              <td><%= f.radio_button :rparcial, 1%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿El tutor realizó el reporte final de alumno?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :rfinal, 0%></td>
                              <td><%= f.radio_button :rfinal, 1%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿Envió actividad de cierre?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :cierre, 0%></td>
                              <td><%= f.radio_button :cierre, 1%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿Lo recomiendo para reingresar?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :reingresar, 0%></td>
                              <td><%= f.radio_button :reingresar, 1%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <h4>¿Lo recomendaría como coordinador de tutores?</h4>
              <div class="table-responsive">
                  <table class="table table-striped" style="text-align: center;">
                      <thead>
                      <tr>
                          <th style="text-align: center;">No</th>
                          <th style="text-align: center;">Sí</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><%= f.radio_button :recomendacion, 0%></td>
                              <td><%= f.radio_button :recomendacion, 1%></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Porcentaje de alumnos del grupo original que acabaron el curso</h4>
                    <%= f.text_field :alumnos_acabaron%>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Porcentaje de alumnos del grupo original que aprobaron el curso</h4>
                    <%= f.text_field :alumnos_aprobaron%>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Porcentaje de alumnos del grupo final (sin considerar bajas) que concluyeron el curso</h4>
                    <%= f.text_field :alumnos_final_concluyeron%>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-bottom" style="text-align: center;">
                    <h4>Cantidad de horas que el coordinador de tutores considera el tutor debe acreditar</h4>
                    <%= f.text_field :total_horas_sugerido%>
                </div>
                
              <h4>Resumen de observaciones sobre el desempeño del tutor y el seguimiento a sus alumnos</h4>
              <div class="field">
                <%= f.text_area :resumen, class:"form-control", id:"txtArea"%>
              </div>
              <i>*Justificación de la cantidad de horas que el coordinador considera que el tutor debe acreditar. Cualquier comentario que ayude a entender lo que el tutor aportó a su grupo y si realizó esfuerzos adicionales que merezcan ser considerados.

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="actions">
                    <%= f.submit "Guardar reporte", class:"btn btn-primary btn-lg", id:"btnSubmit"  %>
                    <%= link_to 'Atrás', conglomerado_quincenals_path, class:"btn btn-primary btn-lg btnBack"  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>