<p id="notice"><%= notice %></p>

<p>
  <strong>Materia:</strong>
  <%= @conglomerado_quincenal.materia %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @conglomerado_quincenal.tutor %>
</p>

<p>
  <strong>Invito:</strong>
  <%= @conglomerado_quincenal.invito %>
</p>

<p>
  <strong>Rparcial:</strong>
  <%= @conglomerado_quincenal.rparcial %>
</p>

<p>
  <strong>Rfinal:</strong>
  <%= @conglomerado_quincenal.rfinal %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @conglomerado_quincenal.resumen %>
</p>

<p>
  <strong>Cierre:</strong>
  <%= @conglomerado_quincenal.cierre %>
</p>

<p>
  <strong>Reingresar:</strong>
  <%= @conglomerado_quincenal.reingresar %>
</p>

<p>
  <strong>Recomendacion:</strong>
  <%= @conglomerado_quincenal.recomendacion %>
</p>

<p>
  <strong>calif:</strong>
  <%= @conglomerado_quincenal.calificaciones %>
</p>

<p>
  <strong>promedio:</strong>
  <%= @conglomerado_quincenal.promedio %>
</p>

<p>
  <strong>desemp horas:</strong>
  <%= @conglomerado_quincenal.horas_desemp %>
</p>

<p>
  <strong>total horas:</strong>
  <%= @conglomerado_quincenal.total_horas %>
</p>

<p>
  <strong>coordinador_tutores:</strong>
  <%= @conglomerado_quincenal.coordinador_tutores %>
</p>

<%= link_to 'Edit', edit_conglomerado_quincenal_path(@conglomerado_quincenal) %> |
<%= link_to 'Back', conglomerado_quincenals_path %>
